@charset "utf-8";
html,body,main,section,div,p,h1,h2,ul,li,input {
    margin: 0;
    padding: 0;
}
body {
    background: #fcfcfc 0% 0% no-repeat padding-box;
    font-family: "Noto Sans","Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
}
main {
    flex: 1;
}
*,*::before,*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #b2b2b2;
}
li {
    list-style: none;
}
.header {
    height: 56px;
    width: 1280px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.header-logo {
    width:38.49px;
    height:24px;
    margin: 16px 0 16px 96px;
}

.global-nav {
    font-size: 0;
    display: flex;
    align-items: flex-end;
}
.global-nav .nav-item {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin: 0 56px 8px 0;
}
.global-nav .nav-item:last-child {
    margin-right: 0;
}
.global-nav .nav-item:last-child {
    margin-right: 96px;
}
.global-nav .nav-item .homelink{
    color: #3b3b3b;
}
@media screen and (max-width: 375px){
    body {
        width: 375px;
    }
  
    .header {
        background: #918f89;
        width: 375px;
        position:sticky;
        top:0;
        z-index: 10;
    }
    .global-nav {
        display: none;
    }
 
    .header-logo img{
        display: none;
    }
    .header-logo {
        margin: 0;
        background: url(../IMAGES/logo_footer.png);
        background-size: cover;
        margin: 16px auto;
    }
  
}

.footer {
    width: 1280px;
    height: 240px;
    margin: 0 auto;
    background: #918f89;
    text-align: center;
}
.footer-inner {
    display: flex;
    justify-content: space-between;
    font-size: 0;
}
.footer-logo {
    width: 63.69px;
    height: 40px;
    margin: 120px  auto 0 224px;
}
.footer-item {
    display: inline-block;
    margin: 120px 32px 0 0 ;
}
.footer-item:last-child {
    margin-right: 0;
}
.footer-item:last-child {
    margin-right: 224px;
}
.footer-item a {
    font: 400 18px/24px "Noto Sans";
    letter-spacing: 0px;
    color: #fff;
}
.copyright {
    font: 400 11px/16px "Noto Sans";
    letter-spacing: 0.44px;
    color: #fff;
    margin-top: 44px;
}
@media screen and (max-width: 375px){
    .footer {
        width: 100%;
        height: 232px;
    }
    .footer-inner ul {
        display: none;
    }
    .footer-logo {
        margin: 72px auto 82px;
    }
    .copyright {
        margin: 0 auto 32px;
    }


}
.main {
    margin: 0 auto;
    width: 100%;
}
.eye-catch {
    height: 456px;
    background: url(../IMAGES/recruit_top.png) no-repeat;
    background-size: cover;
    margin-bottom: 161px;
    position: relative;
}
.title {
    font: 400 30px/53px "Noto Sans";
    letter-spacing: 3px;
    color: #918f89;
    position: absolute;
    top: 192px;
    left: 228px;
}
@media screen and (max-width: 375px){
    .eye-catch {
        background: transparent url(../IMAGES/recruit_top_sp.png)no-repeat;
        background-size: 100% 648px;
        margin-bottom:160px;
        width: 375px;
        height: 648px;
    }
    .title {
        font: 400 25px/53px "Noto Sans";
        letter-spacing: 2.5px;
        width:137px;
        height: 32px;
        position: relative;
        top:auto;
        left:auto;
        padding: 0;
        top: 232px;
        left: 134px;
        color: #3b3b3b;
        line-height: 32px;
    }
}
.recruit {
    margin-bottom:320px;
}
.sub-title {
    font: 400 23px/53px "Noto Sans";
    letter-spacing: 2.3px;
    color: #3b3b3b;
    line-height: 1;
    margin-bottom: 32px;
}
.information {
    margin:0  auto;
    width: 640px;
    height: 624px;
    border-collapse: separate;
    border-spacing: 0;
    color: #3b3b3b;
    border-radius: 4px;
    border: 1px solid #707070;
    overflow: hidden;
}
.information th {
    border-top: 1px solid #707070;
    border-right: 1px solid #707070;
}
.information td {
    border-bottom: 1px solid #707070;
}
.information tr:last-child td:last-child {
    border-bottom: none;
}
.information  tr:first-child th:first-child {
    border-top: none;
    border-top-left-radius: 4px;
}
.information tr:last-child th:last-child {
    border-bottom-left-radius: 4px;
}



.headline {
    font: 400 16px/22px "Noto Sans";
    letter-spacing: 0px;
    color: #3b3b3b;
    background: #dcdbd9;
}
.heading {
    text-align: left;
    font: 400 16px/22px "Noto Sans";
    letter-spacing: 0px;
    padding: 16px 0 0 0;
    margin-bottom: 8px;
}

.recruit-list {
    font: 400 14px/23px "Noto Sans";
    letter-spacing: 0px;

}
.recruit-list li{
    margin-left: 48px;
}
.recruit-list li:last-child {
    margin-bottom: 16px;
}
.disc li:nth-child(n+2) {
    text-indent: 1em;
}
.disc li:nth-child(n+2)::before {
    content: "";
    display: inline-block;
    width:3px;
    height: 3px;
    background: #3b3b3b;
    border-radius: 100%;
    position: relative;
    left: -10px;
    top: -3px;
}
@media screen and (max-width: 375px){
    .recruit {
        width: 375px;
        margin-bottom: 256px;
    } 
    .information {
        margin: 0 auto;
        width: 344px;
    }   
    .sub-title {
        margin-bottom: 40px;
    }
    .recruit-list li {
        margin-left: 21px;
    }
    .heading {
        text-align: left;
        font: 400 15px/20px "Noto Sans";
        letter-spacing: 0px;
        padding: 17px 0 0 0;
        margin-bottom: 8px;
    }
    .recruit-list {
        font: 400 13px/23px "Noto Sans";
        letter-spacing: 0px;
    
    }
}