@charset "utf-8";
html,body,main,section,div,p,h1,h2,ul,li,input {
    margin: 0;
    padding: 0;
}
body {
    background: #fcfcfc 0% 0% no-repeat padding-box;
    font-family: "Noto Sans","Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
}
main {
    flex: 1;
}
*,*::before,*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #b2b2b2;
}
li {
    list-style: none;
}
.header {
    height: 56px;
    width: 100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.header-logo {
    width:38.49px;
    height:24px;
    margin: 16px 0 16px 96px;
}

.global-nav {
    font-size: 0;
    display: flex;
    align-items: flex-end;
}
.global-nav .nav-item {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin: 0 56px 8px 0;
}
.global-nav .nav-item:last-child {
    margin-right: 0;
}
.global-nav .nav-item:last-child {
    margin-right: 96px;
}
.global-nav .nav-item .homelink{
    color: #3b3b3b;
}
@media screen and (max-width: 375px){
    body {
        width: 375px;
    }
  
    .header {
        background: #918f89;
        width: 375px;
        position:fixed;
        z-index: 10;
    }
    .global-nav {
        display: none;
    }
 
    .header-logo img{
        display: none;
    }
    .header-logo {
        margin: 0;
        background: url(../IMAGES/logo_footer.png);
        background-size: cover;
        margin: 16px auto;
    }
  
}

.footer {
    width: 1280px;
    height: 240px;
    margin: 0 auto;
    background: #918f89;
    text-align: center;
}
.footer-inner {
    display: flex;
    justify-content: space-between;
    font-size: 0;
}
.footer-logo {
    width: 63.69px;
    height: 40px;
    margin: 120px  auto 0 224px;
}
.footer-item {
    display: inline-block;
    margin: 120px 32px 0 0 ;
}
.footer-item:last-child {
    margin-right: 0;
}
.footer-item:last-child {
    margin-right: 224px;
}
.footer-item a {
    font: 400 18px/24px "Noto Sans";
    letter-spacing: 0px;
    color: #fff;
}
.copyright {
    font: 400 11px/16px "Noto Sans";
    letter-spacing: 0.44px;
    color: #fff;
    margin-top: 44px;
}
@media screen and (max-width: 375px){
    .footer {
        width: 100%;
        margin-top: 456px;
        height: auto;

    }
    .footer-inner ul {
        display: none;
    }
    .footer-logo {
        margin: 72px auto 82px;
    }
    .copyright {
        margin: 0 auto 32px;
    }

}

.main {
    width: 100%;
}
.eye-catch {
    height: 456px;
    background: url(../IMAGES/news_top.png) no-repeat;
    background-size: cover;
    margin-bottom: 160px;
    position: relative;
}
.title {
    font: 400 30px/53px "Noto Sans";
    letter-spacing: 3px;
    color: #918f89;
    position: absolute;
    top: 191px;
    left: 228px;
}
@media screen and (max-width: 375px){
    .eye-catch {
        background: transparent url(../IMAGES/news_top_sp.png)no-repeat;
        background-size: 100% 648px;
        margin-bottom:160px;
        width: 375px;
        height: 648px;
    }
    .title {
        font: 400 25px/53px "Noto Sans";
        letter-spacing: 2.5px;
        width: 84px;
        height: 32px;
        position: relative;
        padding: 0;
        top: 232px;
        left: 149px;
        color: #3b3b3b;
        line-height: 32px;
    }
}
.news {
    height: 400px;
    text-align: center;
    margin-bottom: 320px;
}
.news-title {
    font: 400 23px/53px "Noto Sans";
    letter-spacing: 2.3px;
    color: #3b3b3b;
    line-height: 1;
    margin-bottom: 56px;
}
.news-list {
    display: flex;
    justify-content: space-around;
}
.news-item {
    width: 320px;
    height: 320px;
}
.sofa {
    background:  url(../IMAGES/news01.png);
    position: relative;
}
.sofa::before {
    content:"";
    background:rgba(0,0,0,0.6);
    position: absolute;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 1;
}
.chair {
    background: url(../IMAGES/news02.png);
    position: relative;
}
.chair::before {
    content:"";
    background:rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 1;
}
.table {
    background: url(../IMAGES/news03.png);
    position: relative;
}
.table::before {
    content:"";
    background:rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 1;
}
.info {
    color: #fff;
    z-index: 2;
    text-align: left;
    font: 400 17px/50px "Noto Sans";
    letter-spacing: -0.85px;
    text-shadow: 0px 0px 6px #000000e0;
    opacity: 1;
    line-height: 1;
}
.sofacaption {
    position: absolute;
    top:144.19px;
    left:47px;
}
.chaircaption {
    position: absolute;
    top: 143px;
    left: 39.5px;
}
.tablecaption {
    position: absolute;
    top: 141px;
    left: 41px;
}
@media screen and (max-width: 375px){
    section {
        margin:0 auto;
        text-align: center;
        width: 100%;
        height: 920px;
        margin-bottom: 256px;
    }
    .news-title {
        width: 375px;
        font: 400 22px/53px "Noto Sans";
        letter-spacing: 2.2px;
        line-height: 24px;
        margin-bottom: 32px;

    }
    .news-list {
        display: block;
        width: 375px;
    }
    .news-item {
        width: 272px;
        height: 272px;
        margin: 0 auto 24px;
    }
    .sofa {
        background: url(../IMAGES/news01.png);
        background-size: 100%;
    }
    .chair {
        background: url(../IMAGES/news02.png);
        background-size: 100%;
    }
    .table {
        background: url(../IMAGES/news03.png);
        background-size: 100%;
    }
    .info {
        font: 400 15px/32px "Noto Sans";
        letter-spacing: -0.75px;
        text-shadow: none;
        opacity: 1;
        position: relative;
        top: 112px;
        left:34px;
    }
    .hidden {
        display: none;
    }
    .news-item:last-child {
        margin-bottom: 0;
    }


}
